<%- include('partials/header.ejs') %>


<div class="container mt-5">
  <form class="" action="/addbook" method="post">
    <div class="row align-items-start">

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Image Source</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="image" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Author</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="author" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Book content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
      </div>


    </div>
  <button type="submit" class="btn btn-lg btn-outline-success">Add Book</button>
  </form>

</div>
