<%- include('partials/header.ejs') %>


<div class="container mt-5">
  <form class="" action="/addbook" method="post">
    <div class="row align-items-start">

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Genre</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="genre" placeholder="Genre type">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Image Source</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="image" placeholder="Link">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Title">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Author</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="author" placeholder="Author">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Language</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="language" placeholder="Language">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Purchase Link</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="link" placeholder="Link">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Book Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
      </div>


    </div>
  <button type="submit" class="btn btn-lg btn-outline-success">Add Book</button>
  </form>

</div>
