<%- include('partials/header.ejs') %>


<div class="container mt-5">
  <form class="" action="/addbook" method="post">
    <div class="row align-items-start">

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Image Source</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="image" placeholder="paste the url">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Book Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="text book tittle">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Author</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="author" placeholder="text author name">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Category</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="content" placeholder="text category name">
      </div>


    </div>
<<<<<<< HEAD
  <button type="submit" class="btn btn-lg btn-outline-success">Add Book</button>
=======
  <button type="submit" class="btn btn-md btn-primary">Add book</button>
>>>>>>> cdb383673cee6552fd5d30dc207fae65fef82211
  </form>

</div>
