<%- include('partials/header.ejs') %>
  <section class="mt-3">
<div class="container">
   <div class="row ">
    <% newListItem.forEach(function(item) { %>
    <div class="col-md-3 p-3 ">
        <div class="card" style="height:28rem;width: 16rem;">
          <img  src=" <%= item.bookURL %>" class="card-img " alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.booktitle %></h5>
            <h6 class="auth"><%= item.bookauthor %></h6>
            <a href="#" class="btn d-flex btn-info">View</a>
          </div>
        </div>
      </div>
     <%  }) %>

  
</div>
</div>
</section>
      <!-- <%# <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Book 2</h2>
          <h5>author</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Book 3</h2>
          <h5>author</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> %> -->
  




  <%# <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> %>
